<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="try_embedded_python.ZPM">
    <Module>
      <Name>try_embedded_python</Name>
      <Version>0.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="rccpy.AoC20.CLS"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
      <FileCopy Name="stream/" Target="${mgrdir}stream/"/>
    </Module>
  </Document>
</Export>
